<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    
      <div class="div" style="padding-top: 70px;" >
        <center>
            <div class="card" style="width: 400px;text-align: start;">
                <div class="card-header" style="text-align: center;font-weight: bold;">Form</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="name" >
                        
                      </div>
                      <div class="form-group">
                          <label for="position">Position</label>
                          <select class="form-control" id="position">
                            <option >Select</option>
                            <option >Developer</option>
                            <option >Sr Developer</option>
                            <option >HR Manager</option>
                            <option > Team Lead</option>
                            
                          </select>
                        </div>
                      <div class="form-group">
                        <label for="Mobile">Mobile</label>
                        <input type="text" class="form-control" id="mobile" >
                      </div>
                      <div class="form-group">
                          <label for="Address">Address</label>
                          <input type="textarea" class="form-control" id="address">
                        </div>
                        <center>
                          <button  class="btn btn-secondary" onclick="mobileCheck()">Submit</button>
                        </center>
                        
                
                      </div>
            </div>
        </center>
      </div>
        
    



      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
          crossorigin="anonymous"></script>
  
     
<script>
function mobileCheck(){

var mobile = document.getElementById('mobile').value;
var num = /^[0]?[789]\d{9}$/;

if(num.test(mobile)){
    datatransfer();
}

else{
   alert('please enter valid mobile number');
   
}

}
   function datatransfer(){
  $.ajaxSetup({
  headers: { "X-CSRFToken": '{{csrf_token}}' }
});
        $.ajax({
               url:'/form/datatransfer/',
                type:'POST',
                data:{
                  name: $('#name').val(),
                  position:$('#position').val(),
                  mobile:$('#mobile').val(),
                  address:$('#address').val()
                },
                success: function(response){
                  alert(response.msg)
                  location.reload(true)
        
    }
});
}

</script>


</body>
</html>